/* ===============================================
---------- Classes Css ----------
=================================================*/
.bg-shape1,
.bg-shape2 {
  position: absolute;
  width: rem(600px);
  height: rem(600px);
  border-radius: 50%;
  filter: blur(12.5rem);
  opacity: 0.25;
  content: "";
  z-index: -3;
}
.bg-shape1 {
  background-color: hsl(var(--info));
}
.bg-shape2 {
  background-color: hsl(var(--base));
}

// Section Title
.section__title {
  position: relative;
  z-index: 1;
  &__sub {
    background-color: hsl(var(--base) / 0.1);
    backdrop-filter: blur(5px);
    padding: rem(5px) rem(35px);
    border-radius: rem(5px);
    color: hsl(var(--base));
    @include fs-16;
    margin-bottom: rem(15px);
    position: relative;
    display: inline-block;
    span{
      color: hsl(var(--white));
    }
    &::after,
    &::before {
      content: "";
      position: absolute;
      width: rem(20px);
      height: rem(3px);
      background-color: hsl(var(--white));
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &::after {
      left: auto;
      right: 0;
    }
  }
}
