<!--======================================================
 --------- Footer --------- 
=======================================================-->
<footer class="footer-area">
    <div class="container">
        <div class="widget-wrapper">
            <div class="row row-gap-5">
                <div class="col-lg-4">
                    <div class="footer-left">
                        <div class="footer-logo">
                            <a href="index.html"> <img src="assets/images/logo/logo.png" alt="logo"></a>
                        </div>
                        <div class="py-4">
                            <p>AdsHunt helps you reach a broader audience by publishing your ads across a variety of
                                websites</p>
                        </div>
                        <ul class="social-list">
                            <li>
                                <a href="https://www.facebook.com"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="https://www.twitter.com"> <i class="fa-brands fa-x-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.linkedin.com"> <i class="fab fa-linkedin-in"></i></a>
                            </li>
                            <li>
                                <a href="https://www.pinterest.com"> <i class="fab fa-instagram"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="footer-widget">
                        <div class="footer-widget__item">
                            <h4>Quick Links</h4>
                            <ul class="widget-links">
                                <li><a href="index.html">Home</a></li>
                                <li><a href="about.html">About Us</a></li>
                                <li><a href="blog.html">Blogs</a></li>
                                <li><a href="contact.html">Contact</a></li>
                            </ul>
                        </div>
                        <div class="footer-widget__item">
                            <h4>Policy Links</h4>
                            <ul class="widget-links">
                                <li><a href="index.html">Privacy Policy</a></li>
                                <li><a href="index.html">Terms of Service</a></li>
                                <li><a href="index.html">Cookie Policy</a></li>
                                <li><a href="index.html">Item Support</a></li>
                            </ul>
                        </div>
                        <div class="footer-widget__item">
                            <h4>Our Contacts</h4>
                            <ul class="footer-contact-menu">
                                <li>
                                    <i class="fas fa-phone"></i>
                                    <a href="tel:+1234567890">+1234567890</a>
                                </li>
                                <li>
                                    <i class="fas fa-envelope"></i>
                                    <a href="mailto:info@ads-hunt.com">info@ads-hunt.com</a>
                                </li>
                                <li>
                                    <i class="fas fa-map-marker-alt"></i>
                                    <a href="#">123 Main St, New York, NY 10001</a>
                                </li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 text-center">
                    <div class="bottom-footer-text text-white"> &copy; Copyright 2025 <a href="index.html">AdsHunt</a> .
                        All rights reserved.</div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--======================================================
 --------- End Footer --------- 
=======================================================-->