<!--======================================================
 --------- Header --------- 
=======================================================-->
<header class="main-header">
    <nav class="navbar navbar-expand-lg main-navbar">
        <div class="container">
            <a class="navbar-brand" href="index.html">
                <img src="assets/images/logo/logo.png" alt="logo" class="main-logo">
            </a>
            <div class="d-flex align-items-center gap-4 order-1">
                <div class="country__select dropdown">
                    <button class="country__select_button" data-bs-toggle="dropdown" aria-expanded="false"
                        id="countryDropdown">
                        <img src="assets/images/country-logo/united-states.png" alt="country logo" class="img-flag"
                            id="dropdownImage">
                        EN
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <img src="assets/images/country-logo/united-states.png" alt="country logo" class="img-flag"> EN
                        </li>
                        <li>
                            <img src="assets/images/country-logo/united-kingdom.png" alt="country logo" class="img-flag"> UK
                        </li>
                        <li>
                            <img src="assets/images/country-logo/germany.png" alt="country logo" class="img-flag"> GER
                        </li>
                        <li>
                            <img src="assets/images/country-logo/canada.png" alt="country logo" class="img-flag"> CA
                        </li>
                    </ul>
                </div>
                <div class="login">
                    <a href="login.html" class="btn btn--base">
                        login
                    </a>
                </div>
                <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">
                        <img src="assets/images/logo/logo.png" alt="logo" class="main-logo">
                    </h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-center flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>
<!--======================================================
 --------- End Header --------- 
=======================================================-->