/* ===============================================
---------- Globe Section ----------
=================================================*/
#globeCanvas {
  //   height: 100%;
  //   width: 100%;
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translateX(-50%);
  height: 2000px;
  position: absolute;
  top: 48%;
  left: -2%;
}

.add-globe {
  position: relative;
  z-index: 1;
  &::before {
    content: "";
    background-color: hsl(var(--info));
    position: absolute;
    width: 23rem;
    height: 23rem;
    border-radius: 50%;
    filter: blur(12.5rem);
    opacity: 0.8;
    z-index: -3;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 50%;
  }
}
