/* ===============================================
---------- Footer Css ----------
=================================================*/

.footer-area {
  margin-top: auto;
  margin-bottom: rem(30px);
}

.footer-logo{
  img{
    height: 50px;
  }
}

.widget-wrapper{
  background-color: hsl(var(--black));
  border-radius: rem(10px);
  padding: 60px 30px 30px;
}

.footer-widget {
  
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 24px;
  // &::before {
  //   content: "";
  //   position: absolute;
  //   inset: 0;
  //   padding: rem(1px);
  //   background: var(--base-gradient);
  //   border-radius: inherit;
  //   --m: conic-gradient(#000 0 0);
  //   mask: var(--m) content-box exclude, var(--m);
  //   border-radius: 8px;
  // }

  .footer-contact-menu{
    display: grid;
    gap: 15px;
    li{
      display: flex;
      align-items: start;
      gap: 10px; 
      i{
        line-height: 1;
        padding-top: 5px;
      }
      a{
        color: hsl(var(--white)/.7);
        display: flex;
        align-items: start;
        
        &:hover{
          color: hsl(var(--base));
        }
      }
    }
  }
}

.widget-links{
  display: grid;
  gap: 10px;
  a{
    color: hsl(var(--white)/.7);
    &:hover{
      color: hsl(var(--base));
    }
  }
}

.bottom-footer-text{
  border-top: 1px solid hsl(var(--white)/.15);
  padding-top: 20px;
  @include fs-16;
  color: hsl(var(--white)/.7);
  a{
    color: hsl(var(--base));
  }
}

.social-list{
  display: flex;
  gap: 10px;

  a{
    background: hsl(var(--white)/.1);
    color: hsl(var(--white));
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    @include fs-17;
    transition: all .3s;
    &:hover{
      background: hsl(var(--base));
      
    }
  }
}