/* ===============================================
---------- Header Css ----------
=================================================*/
.main-header {
}

.main-navbar {
  padding: 30px 0;
  position: absolute;
  top: 0;
  width: 100%;
  .main-logo {
    height: 40px;
  }
  .navbar-nav {
    background-color: hsl(var(--body-bg));
    border-radius: rem(10px); 
    padding: 10px 30px;
    position: relative;
    &::before{
      content:"";
      position: absolute;
      inset: 0;
      padding: rem(1px);
      background: var(--base-gradient);
      border-radius: inherit;
      --m:conic-gradient(#000 0 0);
      mask: var(--m) content-box exclude,var(--m); 
      border-radius: 8px
    }
  }

  @media (min-width: 992px) {
    .offcanvas {
      display: contents;
    }
  }
}

.country__select {
  .country__select_button {
      color: hsl(var(--white));
      display: flex;
      align-items: center;
      gap: 5px;

      img {
          margin-right: 4px;
      }

      @include fs-16;

      &::after {
          content: "\f107";
          font-family: "Font Awesome 6 free";
          font-weight: 900;
      }
  }

  .dropdown-menu {
      min-width: 115px;
      margin-top: 20px;

      li {
          padding: 10px 15px;
          display: flex;
          align-items: center;
          gap: 10px;
          font-weight: 500;
          cursor: pointer;
          transition: all .3s;
          @include fs-16;

          &:hover {
              background: hsl(var(--base)/.06)
          }
      }
  }
}

.navbar-nav {
  gap: rem(15px);
  position: relative;
  @include lg-screen {
    gap: rem(15px);
  }
  @include md-screen {
    gap: rem(0px);
  }

  .nav-item {
    .nav-link {
      color: hsl(var(--white) / 0.85);
      @include fs-16;
      font-weight: 500; 
      text-transform: capitalize;
      display: flex;
      align-items: center;

      @include lg-screen {
        @include fs-15;
        padding-left: rem(5px);
        padding-right: rem(5px);
      }

      @include md-screen {
        padding: rem(10px);
        color: hsl(var(--white));
        @include fs-15;
      }

      &.active,
      &:hover {
        color: hsl(var(--white));
        font-weight: 700;

        span {
          &::before {
            width: 100%;
            transition: all 0.5s ease-in-out;
          }
        }
      }
    }
 
    &:hover {
      .nav-link {
        color: hsl(var(--primary));
      }
 
    }
  }
}
