<!--======================================================
 --------- Ads-formats Section --------- 
=======================================================-->
<section class="ads-formats-section pb-120">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section__title text-center">
                    <span class="section__title__sub">Ads formats</span>
                    <h2>We deliver high converting <br> ads and traffic</h2>
                </div>
            </div>
        </div>
        <div class="row row-gap-4 mt-60">
            <div class="col-lg-4 col-md-6">
                <div class="ads-formats-content formats-left">
                    <div class="ads-formats-box">
                        <div class="number">
                            01
                        </div>
                        <div class="text">
                            <h4> Popunder Ads</h4>
                            <p>Non-intrusive formats with great viewability, Popunders remain among the highest.</p>
                        </div> 
                    </div>
                    <div class="ads-formats-box">
                        <div class="number">
                            02
                        </div>
                        <div class="text">
                            <h4> Social Bar Ads</h4>
                            <p>Non-intrusive formats with great viewability, Popunders remain among the highest.</p>
                        </div> 
                    </div>
                    <div class="ads-formats-box">
                        <div class="number">
                            03
                        </div>
                        <div class="text">
                            <h4> Direct Link Ads</h4>
                            <p>Non-intrusive formats with great viewability, Popunders remain among the highest.</p>
                        </div> 
                    </div> 
                </div>
            </div>
            <div class="col-lg-4"> </div>
            <div class="col-lg-4 col-md-6">
                <div class="ads-formats-content formats-right">
                    <div class="ads-formats-box">
                        <div class="number">
                            04
                        </div>
                        <div class="text">
                            <h4> Native Banners Ads</h4>
                            <p>Non-intrusive formats with great viewability, Popunders remain among the highest.</p>
                        </div> 
                    </div>
                    <div class="ads-formats-box">
                        <div class="number">
                            05
                        </div>
                        <div class="text">
                            <h4> Banners Ads</h4>
                            <p>Non-intrusive formats with great viewability, Popunders remain among the highest.</p>
                        </div> 
                    </div>
                    <div class="ads-formats-box">
                        <div class="number">
                            06
                        </div>
                        <div class="text">
                            <h4> Single Text Ads</h4>
                            <p>Non-intrusive formats with great viewability, Popunders remain among the highest.</p>
                        </div> 
                    </div> 
                </div> 
            </div>
        </div>
    </div>
</section>
<!--======================================================
 --------- End Ads-formats Section --------- 
=======================================================-->