<!--======================================================
 --------- Benefit Section --------- 
=======================================================-->
<section class="benefit-section pb-120">
    <div class="section-shape bg-img" data-background-image="assets/images/shape/body_bg.png"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="section__title text-center">
                    <span class="section__title__sub">Benefits</span>
                    <h2>Who can benefits from the is AdsHunt ad network</h2>
                </div>
            </div>
        </div>
        <div class="row mt-60 row-gap-4 justify-content-center">
            <div class="col-lg-6 col-md-12">
                <div class="benefit-item">
                    <div class="icon">
                        <img src="assets/images/icons/advertisers.svg" alt="benefit images">
                    </div>
                    <h3>Advertisers</h3>
                    <p>
                        Adsterra is a powerful online advertising network for brands, agencies, and media buyers. With
                        over 20 targeting settings, you deliver ads to the best-matching audiences. Unlock high-quality
                        CPM, CPC, and CPA traffic from 35K+ direct publishers.
                    </p>
                    <a href="contact.html" class="btn btn--border">Explore More </a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="benefit-item">
                    <div class="icon">
                        <img src="assets/images/icons/publishers.svg" alt="benefit images">
                    </div>
                    <h3>Publishers</h3>
                    <p>
                        Adsterra is a powerful online advertising network for brands, agencies, and media buyers. With
                        over 20 targeting settings, you deliver ads to the best-matching audiences. Unlock high-quality
                        CPM, CPC, and CPA traffic from 35K+ direct publishers.
                    </p>
                    <a href="contact.html" class="btn btn--base">Explore More  </a>
                </div>
            </div>
        </div>
    </div>
</section>
<!--======================================================
 --------- End Benefit Section --------- 
=======================================================-->