<!--======================================================
 --------- Blog Section --------- 
=======================================================-->
<section class="blog-section pb-120">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="section__title text-center">
                    <span class="section__title__sub">Blogs & News</span>
                    <h2>Latest in the blog</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center row-gap-4 mt-60">
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="assets/images/blog/blog3.jpg" alt="blog image" class="img-fluid w-100">
                        <div class="blog-date btn btn--base">02 June 2025 </div>
                    </div>
                    <div class="blog-text">
                        <h4>
                            <a href="blog-details.html">
                                11 Best Referral Programs to Earn Money Researched...
                            </a>
                        </h4>
                        <div class="read-blog">
                            <div class="blog-line"></div>
                            <a href="blog-details.html" class="arrow-btn">
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="assets/images/blog/blog5.jpg" alt="blog image" class="img-fluid w-100">
                        <div class="blog-date btn btn--base">02 June 2025 </div>
                    </div>
                    <div class="blog-text">
                        <h4>
                            <a href="blog-details.html">
                                11 Best Referral Programs to Earn Money Researched...
                            </a>
                        </h4>
                        <div class="read-blog">
                            <div class="blog-line"></div>
                            <a href="blog-details.html" class="arrow-btn">
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div> 
            <div class="col-lg-4 col-md-6">
                <div class="blog-item">
                    <div class="blog-img">
                        <img src="assets/images/blog/blog6.jpg" alt="blog image" class="img-fluid w-100">
                        <div class="blog-date btn btn--base">02 June 2025 </div>
                    </div>
                    <div class="blog-text">
                        <h4>
                            <a href="blog-details.html">
                                11 Best Referral Programs to Earn Money Researched...
                            </a>
                        </h4>
                        <div class="read-blog">
                            <div class="blog-line"></div>
                            <a href="blog-details.html" class="arrow-btn">
                                <i class="fa-solid fa-arrow-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>
</section>
<!--======================================================
 --------- End Blog Section --------- 
=======================================================-->