<!--======================================================
 --------- Globe Section --------- 
=======================================================-->
<section class="globe-section ">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 ">
                <div id="globeCanvas"> </div>
            </div>
            <div class="col-lg-6">
                <div class="add-globe py-120">
                    <img src="assets/images/ads/social-add.png" alt="ads images" class="img-fluid">
                </div>
            </div>
        </div>
    </div>
</section>
<!--======================================================
 --------- End Globe Section --------- 
=======================================================-->