<!--======================================================
 --------- Testimonial Section --------- 
=======================================================-->
<section class="testimonial-section pb-120">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-5">
                <div class="section__title">
                    <span class="section__title__sub">Testimonial</span>
                    <h2>Our partners’ trust is our core value</h2>
                </div>
                <div class="arrow-btns mt-60">
                    <button class="prev-arrow"><i class="fa-solid fa-chevron-left"></i></button>
                    <button class="next-arrow"><i class="fa-solid fa-chevron-right"></i></button>
                </div>
            </div>
            <div class="col-xl-6">
                <div class="testimonial-slide swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="testimonial-slide__item">
                                <p>
                                    "We have scaled up our business on the DSP side from 3x to 10x and ROI from 1x to 3x
                                    with Adsterra. In the past two years, we've worked with all accessible ad types,
                                    including Onclick ads (Popunder), In Page Push, Social Bar, and Native Banners on
                                    CPA, CPM, and CPC. The efficiency of the CPA Goal paired with various traffic
                                    sources enables us to achieve end KPI with cost efficiency."
                                </p>
                                <div class="user">
                                    <img src="assets/images/user/user2.jpeg" alt="user1">
                                    <div class="text">
                                        <h5>John Doe</h5>
                                        <span>Marketing Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--======================================================
 --------- End Testimonial Section --------- 
=======================================================-->